body{
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 27px;
    color: brown;
    text-align: center;
    text-shadow: 2px 3px 5px rgb(255, 204, 0);
    font-family: "Cormorant Unicase", serif;
}
header{
    background-color: rgb(252, 242, 227);
    padding: 10px;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .box-container {
    display:flex;
    align-items: center;
    margin: 20px 10px;
    height: 200px; 
    background-color: #fffde7;
    border: 2px solid #444; 
    border-radius: 10px;
    padding: 8px; 
  }
  
  .box {
    width: 150px; 
    height: 100px; 
    text-align: center; 
    font-size: 20px; 
    color: #242121; 
    margin: 10px;
    border-radius: 8px;
    font-family: 'Playwrite NL Guides', sans-serif;
  }
  
  .box1 {
    background-color: #ffddd5;
    border: 2.5px dotted #333;
    margin-left: 100px;
    margin-right: 200px;
  }
  
  .box2 {
    background-color: #ccf0ff; 
    border:3px double #444;
    margin-right: 200px;
  }
  
  .box3 {
    background-color: #e8ffdd;
    border: 3px dashed #555;
    
  }
  a:hover {
    color: red;
  }
  a:active {
    color: yellow;
  } 
img{
    float:right;
    width: 26%;
    padding-right: 20px;
}
.content > p.p1, 
.content > p.p3, 
.content > p.p5 {
    border-bottom: 6px solid rgb(255, 142, 49);
    background-color: rgb(255, 218, 188);
    height: 25px;
    width: 75%;
}
.content > p.p2,
.content > p.p4{
    border-bottom: 6px solid rgb(206, 19, 19);
    background-color: rgb(254, 159, 152);
    height: 25px;
    width: 75%;
}
.content > p::first-letter{
    color: rgb(255, 9, 9);
    font-size: medium;
    font-style:italic;
}
.reference{
    display: flex;
}
.online-tools,.online-tools1 {
    display: inline-grid;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 20px;
    background: #ffc98679;
    padding: 25px 50px;
    margin: 40px 160px;
    border-radius: 8px;
}
.online-tools>div,.online-tools1>div {
    display: block;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.online-tools>div:hover{
    background-color: #dadada;
}
.property {
    font-weight: bold;
    color: #333;
}

.coursera, .upskill, .udemy, .edx{
    font-size: 15px;
    color: #555;
    text-align: center;
}
.online-tools img {
    margin-left: 10px;
    width: 50px;
}
.btn1 {
    background-color: white;
    border: 2px solid brown;
    border-radius: 3px;
}
.btn1:hover {
    background-color: rgb(219, 209, 195);
}
.box-highlighted:hover{
    border: 3px solid rgb(186, 0, 186);
}
 